/* src/App.module.css */
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998; /* abaixo do z-index da Sidebar */
}
