/* src/pages/HomePage/HomePage.module.css */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #c5ddfd 20%, #f1f6fe 60%, #c5ddfd 90%);
}

.main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  margin-top: 5%;
}
