/* src/pages/HomePage/HomePage.module.css */

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}
